body{
	margin: 0;
	padding: 0;
}
.wrapper{
	background: coral;
	width: 902px;
	margin: 0 auto;
}
.header{
	border: 2px solid red;
	width: 900px;
	height: 100px;
	padding-top: 28px;
}
.logo{
	border: 2px solid black;
    width: 270px;
    float: left;
    padding: 8px;
    margin-left: 15px;

}
.menu{
    border: 2px solid black;
    float: left;
    width: 270px;
    padding: 8px;
    margin-left: 6px;


}
.search{
	border: 2px solid black;
    float: left;
    width: 257px;
    padding: 8px;
    margin-left: 6px;
}
.slider{
	border: 2px solid blue;
	width:  870px;
	height: 300px;
	padding: 15px;
}
.slider_con{
	border: 2px solid black;
	float: left;
	height: 270px;
	width: 400px;
	padding: 10px;

}
.slider_img{
 	border: 2px solid black;
 	float: left;
 	height: 270px;
 	width: 400px;
 	margin-left: 22px;
 	padding: 10px;
}
.content{
	border: 2px solid purple;
	width:  870px;
	height: 300px;
	padding: 15px;
}
.con{
	border: 2px solid black;
 	float: left;
 	height: 290px;
 	width: 200px;
 	margin-left: 2px;
    padding-left: 11px;
}
.service{
	border: 2px solid gray;
	width:  870px;
	height: 300px;
	padding: 15px;
}
.ser{
	border: 2px solid black;
 	float: left;
 	height: 290px;
 	width: 200px;
 	margin-left: 2px;
    padding-left: 83px;
}
.footer{
	border: 2px solid red;
	width: 900px;
	height: 100px;
	padding-top: 28px;
}
.contract{
    border: 2px solid black;
    width: 270px;
    float: left;
    padding: 8px;
    margin-left: 13px;
    padding-left: 142px;

}
.map{
    border: 2px solid black;
    float: left;
    width: 270px;
    padding: 8px;
    padding-left: 142px;
    margin-left: 20px;


}